<div class="w-screen h-screen pointer-events-none flex items-center justify-center relative">
    <ion-router-link routerLink="/player" class="absolute top-4 left-4 uppercase text-white text-sm">
        < Voltar</ion-router-link>
            <div class="w-8/12 flex flex-col p-4 rounded-xl pointer-events-auto items-center space-y-3">
                <img src="assets/img/logo-velocity.svg" alt="Velocity" class="self-center">
                <span class="font-bold">42'20"</span>
                <span class="text-lg text-center">20 minutos para morrer na bike</span>
                <span class="text-sm">Nome Sobrenome</span>
                <div class="relative w-full flex items-center">
                    <ion-button class="h-14 px-6 bg-white rounded-full text-black remove-shadow m-0 normal-case font-light text-xs" color="clear">
                        Enviar
                    </ion-button>
                    <ion-button class="h-14 w-14 absolute -right-12 flex justify-center items-center remove-shadow bg-white rounded-full" color="clear">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20.653" height="20.653"><g data-name="Grupo 49"><g data-name="Grupo 48"><path data-name="Caminho 47" d="M18.441 2.213h-2.213V.738a.738.738 0 00-1.475 0v1.475H5.9V.738a.738.738 0 10-1.475 0v1.475H2.213A2.213 2.213 0 000 4.426v14.015a2.213 2.213 0 002.213 2.213h16.228a2.213 2.213 0 002.213-2.213V4.426a2.213 2.213 0 00-2.213-2.213zm.738 16.228a.738.738 0 01-.738.738H2.213a.738.738 0 01-.738-.738v-9.59h17.7zm0-11.064H1.475V4.426a.738.738 0 01.738-.738h2.213v1.475a.738.738 0 101.475 0V3.688h8.851v1.475a.738.738 0 101.475 0V3.688h2.213a.738.738 0 01.738.738v2.95z" fill="#383838"/></g></g></svg>
                    </ion-button>
                </div>
            </div>
</div>