<div class="w-screen h-screen pointer-events-none flex items-center justify-center backdrop-filter backdrop-blur">
  <div class="bg-black w-10/12 flex flex-col p-4 rounded-xl pointer-events-auto">
    <div class="flex flex-col items-center py-6">
      <span class="text-xs">Excluir cartão</span>
      <span class="text-xs">•••• •••• •••• 2828?</span>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <ion-button class="h-10 px-6 bg-blue-light rounded-full text-black remove-shadow m-0 normal-case font-light text-xs self-center" color="clear">
        Cancelar
      </ion-button>
      <ion-button class="h-10 bg-softGray rounded-full text-black remove-shadow m-0 normal-case font-light text-xs self-center" color="clear">
        Excluir
      </ion-button>
    </div>
  </div>
</div>
