<ion-item lines="none" class="bg-transparent p-inline-start p-inline-end rounded-xl text-white shadow" routerLink="">
  <div class="w-full">
    <div class="p-4 bg-cover bg-center gradient-bottom" [style.background-image]="'url(' + bg + ')'">        
      <div class="pt-48 relative z-10">
        <p class="font-bold text-sm truncate mb-1">{{nome}}</p>
        <p class="font-bold text-xs truncate">{{quantidadeDeAulas}} aulas</p>
        <p class="text-xs font-light truncate">{{visualizacoes}} visualizações</p>
      </div>
    </div>
  </div>
</ion-item>