<ion-content class="bg-strongGray" id="main">
  <div class="p-4 pt-10">
    <h1 class="font-rajdhani font-medium text-5xl text-white lowercase opacity-50">Programas</h1>
    <div class="w-full flex items-center justify-center relative mt-10 mb-9">
      <span class="text-sm">Organizar por:</span>
      <ion-select value="az" class="text-sm absolute right-0">
        <ion-select-option value="az">A > Z</ion-select-option>
        <ion-select-option value="professor">Professor</ion-select-option>
      </ion-select>
    </div>
    <div class="grid grid-cols-1 gap-3">
      <div *ngFor="let programa of programas">
        <app-card-programa
						[cardHeight]="410"
						[tipoDoCard]="programa.tipoDoCard"
						[bg]="programa.bg"
						[titulo]="programa.titulo"
						[quantidadeDeAulas]="programa.quantidadeDeAulas"
						[vezesConcluido]="programa.vezesConcluido"
						[link]="programa.link"
						[engajamento]="programa.engajamento"
						[descricaoDesafio]="programa.descricaoDesafio"
						[datasDesafio]="programa.datasDesafio"
					></app-card-programa>
      </div>
    </div>
  </div>
</ion-content>