<!-- <div class="w-screen h-screen pointer-events-none flex items-center justify-center backdrop-filter backdrop-blur">
    <div class="bg-white w-10/12 flex flex-col p-4 rounded-xl pointer-events-auto">
        <h1 class="font-rajdhani font-medium text-5xl text-disabledGray lowercase opacity-50">14 Abril</h1>
        <div class="flex flex-col pt-6 text-black divide-y divide-lightGray px-2">
            <div class="flex flex-col py-3">
                <div class="flex space-x-2 items-center">
                    <div class="w-3 h-3"></div>
                    <span class="text-xs">10:00 am - 10:20 am</span>
                </div>
                <div class="flex space-x-2 items-center">
                    <div class="w-3 h-3 rounded-full bg-warningYellow"></div>
                    <span class="text-sm">20 min para morrer na bike</span>
                </div>
            </div>
            <div class="flex flex-col py-3">
                <div class="flex space-x-2 items-center">
                    <div class="w-3 h-3"></div>
                    <span class="text-xs">10:00 am - 10:20 am</span>
                </div>
                <div class="flex space-x-2 items-center">
                    <div class="w-3 h-3 rounded-full bg-warningYellow"></div>
                    <span class="text-sm">20 min para morrer na bike</span>
                </div>
            </div>
        </div>
    </div>
</div> -->