<div class="w-screen h-screen pointer-events-none flex items-center justify-center backdrop-filter backdrop-blur">
  <div class="bg-black w-10/12 flex flex-col p-4 pb-0 rounded-xl divide-y divide-hardGray pointer-events-auto">
    <div class="flex flex-col">
      <div class="flex items-center space-x-4 border border-blue-light p-1 rounded-full bg-hardGray">
        <div class="w-10 h-10 rounded-full bg-blue-400"></div>
        <span class="text-xs">Nome Sobrenome</span>
      </div>
      <div class="flex items-center space-x-4 border border-transparent p-1 rounded-full">
        <div class="w-10 h-10 rounded-full"></div>
        <span class="text-xs text-softGray">Nome Sobrenome</span>
      </div>
    </div>
    <div class="flex items-center space-x-4 py-4">
      <div class="w-11 flex justify-center">
        <ion-icon class="cog bg-white"></ion-icon>
      </div>
      <span class="text-xs text-softGray">Gerenciar usuários</span>
    </div>
  </div>
</div>
