<ion-content class="bg-strongGray" id="main">
  <div class="p-4 pt-9">
    <a class="font-bold">< voltar</a>
    <div class="flex mt-7 space-x-6">
      <img src="/assets/img/professor-1.jpg" class="w-20 rounded-md" alt="">
      <div class="flex flex-col space-y-3 pt-1">
        <span class="font-bold text-lg">Programa</span>
        <div class="w-1/2 border-t border-darkGray"></div>
        <span>12 aulas</span>
        <span>124.293 visualizações</span>
      </div>
    </div>
    <p class="text-disabledGray mt-5 text-md">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa <span class="font-bold">quae ab illo inventore veritatis et</span> quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.</p>
    <div class="grid grid-cols-1 gap-4 mt-14">
      <app-card-aula *ngFor="let aula of aulas" class="" [aula]="aula" [salvo]="false"
        [calendario]="false" [check]="false"></app-card-aula>
    </div>
  </div>
</ion-content>